<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>BTS</title>
  <link rel="stylesheet" href="https://use.typekit.net/sol4wcr.css" />
  <link rel="stylesheet" type="text/css" href="public/css/styles.css" />
</head>

<body>
  <%- include('partials/navbar.ejs') %>
  <div class="background" style="background-image: url('/public/images/background.png')">
    <div class="container">
      <h1>DISCOGRAPHY</h1>
      <div class="albums-container">
        <% if (json) { %>
        <span id="album-data" data-attr-value="<%= json; %>"></span>
        <% } %> <% if (data) { %> <% for (let i = 0; i < data.length; i++ ) {
          %>
        <div class="album-item" id="album-<%= i %>">
          <img src="/public/images/<%= data[i].artwork[0]; %>" alt="<%= data[i].shortname; %>" draggable="false" />
        </div>
        <div class="album-modal" id="modal-<%= i %>">
          <div class="overlay"></div>
          <div class="modal-content">
            <div class="row" style="margin: 0.8rem 0">
              <span class="album-name"><%- data[i].albumname %></span>
            </div>
            <div class="row" style="
                  align-items: flex-start;
                  justify-content: flex-start;
                  padding: 1rem 0;
                ">
              <div class="album-cover-wrapper">
                <div class="album-cover" style="
                      background-image: url('/public/images/<%= data[i].artwork[0] %>');
                    "></div>
              </div>
              <div class="track-list"><%- data[i].tracklist %></div>
            </div>
            <div class="row" style="
                  align-items: center;
                  justify-content: center;
                  flex-direction: column;
                  padding: 1rem 0 0.2rem 0;
                ">
              <h4 style="width: 100%; text-align: left; font-weight: bold">
                Summary
              </h4>
              <p><%- data[i].summary %></p>
            </div>
            <div class="row" style="
                  align-items: center;
                  justify-content: center;
                  padding: 0.4rem 0;
                ">
              <a href="<%= data[i].mv %>">Watch Music Video</a>
              <!--                <iframe-->
              <!--                        width="560" height="315" src="https://www.youtube.com/embed/w6oEQu3AUCs?controls=0"-->
              <!--                        title="YouTube video player" frameborder="0"-->
              <!--                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"-->
              <!--                        allowfullscreen-->
              <!--                ></iframe>-->
            </div>
          </div>
        </div>
        <% } %>
      </div>
      <% } else { %>
      <p>has no data</p>
      <% } %>
    </div>
  </div>

  <%- include('partials/scripts.ejs') %>
</body>

</html>
